:root {
    --bs-link-hover-color: inherit;
}

html, body { height: 100%; }

a {text-decoration: none;}

[onclick] {
    cursor: pointer;
}

.navbar {
    background-color: slateblue;
}

object.icon {
    width: 1.2rem;
    height: 1.2rem;
}

.feather {
    fill: none;
    stroke: var(--bs-body-color);
    stroke-width: 2px;
    width: calc(1rem + 1px);
    height: calc(1rem + 1px);
    margin-top: -3px;
}

.w-fit {
    width: fit-content;
}
