:root {
    --bs-link-hover-color: inherit;
}

html, body { height: 100%; }

a {text-decoration: none;}

[onclick] {
    cursor: pointer;
}

.navbar {
    background-color: slateblue;
}

/* I disagree with Bootstrap */
table.table caption.title {
    caption-side: top;
    font-size: large;
}

