
#header {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    padding: 0.25rem;
}
#header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.25rem;
}
#header-text > * {
    flex-grow: 1;
}
#preface {
    display: flex;
    align-items: center;
    padding: 0.25rem;
    gap: 0.25rem;
}
#details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#details > * {
    flex-grow: 1;
}
#prices-body > td {
    white-space: nowrap;
}